<!doctype html>
<html class="no-js">
    <head>
        <!--<base href="/emem/">-->
        <!--<base href="/">-->
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="epicoverflowApp">
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="MenuCtrl">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ng-click="goHome()" href="">Epic Overflow</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" ng-submit="goSearch()">
						<input type="text" name="tag" ng-model="tag" required class="form-control">
						<button type="submit" class="btn btn-success">Search</button>
					</form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="goHome()" href="">Home</a></li>
                        <li><a href="#/questions">Open Questions</a></li>
                        <li><a href="https://stackexchange.com/users/logout">Logout</a></li>
                    </ul>
					
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container bz-container">
            <div ng-view=""></div>

        </div>
        <div>
            <script type="text/ng-template" id="erroModal.html">
                <div class="modal-header">
                <h3 class="modal-title">{{error.error_name}}</h3>
                </div>
                <div class="modal-body">
                {{error.error_message}}
                </div>
                <div class="modal-footer">
                <button class="btn btn-danger" ng-click="ok()">OK</button>
                </div>
            </script>
        </div>
        <div class="footer">
            <a ng-href="#" class="bz-footer-logo"></a>
        </div>
        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->        
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/questions.js"></script>
        <script src="scripts/controllers/badge.js"></script>
        <script src="scripts/controllers/timeline.js"></script>
        <script src="scripts/controllers/favorite.js"></script>
        <script src="scripts/controllers/tag.js"></script>        
        <script src="scripts/controllers/modal.js"></script>        
        <script src="scripts/controllers/question.js"></script>
        <script src="scripts/controllers/answers.js"></script>
        <script src="scripts/controllers/answercomments.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/questiontags.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/question.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/util.js"></script>
        <script src="scripts/filters/filters.js"></script>
        <script src="scripts/directives/bzcomments.js"></script>
        <script src="scripts/directives/paginator.js"></script>
        <script src="scripts/directives/bztags.js"></script>
        <!-- endbuild -->
    </body>
</html>
